<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'Name' }}">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>{{ localize "UNISYSTEMCINEMATIC.Attributes" }}</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Type" }}</th>
                            <td>
                            <select id="typeSelect" name="system.type" data-type="String">
                                {{#select item.system.type}}
                                    {{#each item.system.types as |types key|}}
                                        <option value="{{key}}">{{ localize (concat 'UNISYSTEMCINEMATIC.' types) }}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Points" }}</th>
                            <td><input type="number" name="system.cost" value="{{item.system.cost}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.HP" }}+</th>
                            <td><input type="number" name="system.resource_bonus.hp" value="{{item.system.resource_bonus.hp}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Endurance" }}+</th>
                            <td><input type="number" name="system.resource_bonus.endurance_points" value="{{item.system.resource_bonus.endurance_points}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Speed" }}+</th>
                            <td><input type="number" name="system.resource_bonus.speed" value="{{item.system.resource_bonus.speed}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Essence" }}+</th>
                            <td><input type="number" name="system.resource_bonus.essence" value="{{item.system.resource_bonus.essence}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "UNISYSTEMCINEMATIC.Initiative" }}+</th>
                            <td><input type="number" name="system.resource_bonus.initiative" value="{{item.system.resource_bonus.initiative}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item-description-sidebar">
                <h2 class="item-desc">{{ localize "UNISYSTEMCINEMATIC.Description" }}</h2>
                {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}

            </div>
        </div>
    </section>
</form>
